@charset "utf-8";
body {
	padding-top: 100px;
	padding-bottom: 20px;
}
@media ( min-width: 768px ) {
	#banner {
		min-height: 300px;
		border-bottom: none;
	}
}
.bs-component {
	position: relative;
}
.bs-component .modal {
	position: relative;
	top: auto;
	right: auto;
	left: auto;
	bottom: auto;
	z-index: 1;
	display: block;
}
.bs-component .modal-dialog {
	width: 60%;
}
.modal-title {
  font-size: 23px;
  font-weight: bold;
}
label{
	cursor: pointer;
}
.table>tbody>tr.active>td {
	background-color: #eee;
}